▪ https://t.me/data_analysis_ml -подписывайтесь на наш телеграм анализ данных на Python, где мы Data Science обучаем на практике. 

▪ https://t.me/addlist/2Ls-snqEeytkMDgy - маст-хэв папка для всех, кто интересуется машинным обучением.
